@import '@/styles/variables';

.highscore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: $min-height-page;
    background-color: $background-clear-glass;
    border: 1px solid lime;
    padding: $spacing-lg;
}