.page {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: var(--font-diablo);
    background-image: url('/background1.jpg');
    background-size: auto 107%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}